/* line 41, ../sass/button.sass */
.wrapper {
  width: 100px;
  margin: 200px auto;
}
/* line 45, ../sass/button.sass */
.wrapper .button {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484545), color-stop(100%, #2c2c2b));
  background-image: -webkit-linear-gradient(top center, #484545, #2c2c2b);
  background-image: -moz-linear-gradient(top center, #484545, #2c2c2b);
  background-image: -o-linear-gradient(top center, #484545, #2c2c2b);
  background-image: -ms-linear-gradient(top center, #484545, #2c2c2b);
  background-image: linear-gradient(top center, #484545, #2c2c2b);
  -moz-border-radius: 4px 4px 6px 6px;
  -webkit-border-radius: 4px 4px 6px 6px;
  -o-border-radius: 4px 4px 6px 6px;
  -ms-border-radius: 4px 4px 6px 6px;
  -khtml-border-radius: 4px 4px 6px 6px;
  border-radius: 4px 4px 6px 6px;
  border: 1px solid #282727;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  border-bottom: 1px solid #383837;
  display: block;
  text-align: center;
  width: 100px;
  padding: 10px 20px 15px;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.55);
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 2;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}
/* line 24, ../sass/button.sass */
.wrapper .button:hover {
  cursor: pointer;
}
/* line 27, ../sass/button.sass */
.wrapper .button:active {
  top: 0px;
}
/* line 48, ../sass/button.sass */
.wrapper .button_underneath {
  background: #282727;
  border-radius: 5px;
  position: relative;
  width: 102px;
  padding: 10px 20px 20px;
  margin-top: 50px;
  z-index: 1;
  display: block;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);
}
